#map {
  /*background-color: #fff;
  border: 1px solid #ccc;*/
}
h1 {
    text-align: center;
    font-family: "Avenir Next";
    font-weight: normal;
    color: white;
}
html {
    min-height:100%;
}
body {
    margin: 0;
    padding: 0;
    background-image:
        -webkit-repeating-linear-gradient(120deg, hsla(0,0%,100%,0) 50%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),

        -webkit-repeating-linear-gradient(120deg, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),

        -webkit-repeating-linear-gradient(120deg, hsla(0,0%,100%, 0) 0%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,.15) 100%),

        linear-gradient(150deg, hsl(0,5%,8%) 10%,
        rgb(0,0,0) 70%,
        rgb(0,0,0) 10%,
        rgb(0,0,0) 30%);

    min-height:100%;
}
.background {
  fill: none;
  pointer-events: all;
}

#countries, #states {
  fill: #e4b388;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 0.08;
}

#countries .active {
  fill: #dab89b;
}

#cities {
  stroke-width: 0;
}

.city {
  fill: #345;
  stroke: #fff;
}

pre.prettyprint {
  //border: 1px solid #ccc;
  margin-bottom: 0;
  padding: 9.5px;
}

.wrap {
    margin: 0 auto;
    max-width:1000px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 42px;
    padding: 2px;
    font: 12px sans-serif;
    background: #FFF8DC;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
