
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html {
	font-family: 'Montserrat', sans-serif;
    /*overflow: hidden;*/
}
body {
    margin: 0;
    padding: 0;
    height:100%;
    min-height: 700px;
	background-color: #414141;
    /*background-image: 
    -webkit-repeating-linear-gradient(120deg, hsla(0,0%,100%,0) 50%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(120deg, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(120deg, hsla(0,0%,100%, 0) 0%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,.15) 100%),
    linear-gradient(150deg, hsl(0,5%,8%) 10%, 
        rgb(0,0,0) 70%, 
        rgb(0,0,0) 10%,
        rgb(0,0,0) 30%);
	*/
}

h1 {
  margin-top: 0; 
  text-align: center;
  color: #056571;
  font-size: 2vw;
}

.content {
  height: 100%;
}

.col {
  position: relative;
  min-height: 700px;
}

.col1 {
  padding: 20px;
  width: 20%;
  height: 100%;
  position: fixed;

  background: #CCDFCD;
  color: #056571;

  font-size: 1.1vw;
}

.col2 {
  margin-left: 20%;
  width: 60%;
  float: left;
}

.col3 {
  padding: 20px;
  width: 20%;
  float: left;
}

.vis-wrapper {
  margin-top: 20px;
  min-height: 600px;
  position: relative;
}

/* sunburst tooltip */
.text{
    position: absolute;
    font-family: sans-serif;
    padding:10px;
    background: #fff;
    border-radius: 4px;
    display: none;
	z-index: 3;
}

/* the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

path {
  stroke: #fff;
}

.background {
  fill: none;
  pointer-events: all;
}

#countries, #states {
  /*fill: #e4b388;*/
  fill: #bbb;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 0.08;
}

#countries .active {
  fill: #dab89b;
}

#cities {
  stroke-width: 0;
}

.city {
  fill: #345;
  stroke: #fff;
}

pre.prettyprint {
  border: 1px solid #ccc;
  margin-bottom: 0;
  padding: 9.5px;
}

#map {
    position: absolute;
    width: 290px;
    height: 290px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-radius: 100%;
    overflow:hidden;

    margin: auto;
}

#sunburst {
    position: absolute;
    width: 600px;
    height: 600px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	  z-index: 1;

    margin: auto;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 26px;
    padding: 2px;
    font: 12px sans-serif;
    background: #FFF8DC;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 1000;
}

/* sökfält */
#myInput {
  /*border-box: box-sizing;*/
  width: 100%;
  font-size: 16px;
  padding: 14px 12px 12px 14px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* sökfältet när det klickas på */
#myInput:focus {outline: 3px solid #ddd;}

/* diven för innehållet i dropdown */
.dropdown {

}

/* innehållet i dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    right: 20px;
    left: 20px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    z-index: 1;

    max-height: 400px;
    overflow-y: scroll;
	
}

.dropdown-content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* länkarna innuti dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* ändrar förgen på länkarna när man hoovrar */
.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}


.icons {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;

  text-align: center;
  width: 100%;

  cursor: pointer;
  
}

.fa-question-circle {
  margin-right: 5px;
}

.fa-question-circle,
.fa-info-circle{
  font-size:48px;
  color: #056571;
}

.fa-question-circle:hover,
.fa-info-circle:hover {
  opacity: 0.8;
}

 
/* Så att tooltipen blir så lång som den behöver */
.tooltip{
    height: auto;
}

.legend {
  margin-top: 50px;
}

.logo{
	z-index: 10;
  margin-bottom: 10px;
  width: 40%;
}
.logo:hover{
	opacity: 0.9;
}