#map {
  /*background-color: #fff;
  border: 1px solid #ccc;*/
}
h1 {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}
body {
    background-color: #00334d;
}
.background {
  fill: none;
  pointer-events: all;
}
#countries, #states {
  fill: #196666;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 0.2;
}
#countries .active, #states .active {
  fill: #89a;
}
#cities {
  stroke-width: 0;
}
.city {
  fill: #345;
  stroke: #fff;
}
pre.prettyprint {
  //border: 1px solid #ccc;
  margin-bottom: 0;
  padding: 9.5px;
}